<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
  <Appenders>
    <Console name="stdout" target="SYSTEM_OUT">
      <PatternLayout pattern="%5p [%t] (%F:%L) - %m%n"/>
    </Console>
    <Console name="stderr" target="SYSTEM_ERR">
      <PatternLayout pattern="%5p [%t] (%F:%L) - %m%n"/>
    </Console>
    <RollingFile name="R" filename="rudibugger.log"
                 filePattern="rudibugger.%i.log.gz"
                 ignoreExceptions="false">
      <PatternLayout pattern="%p %t %c - %m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="5000 KB"/>
      </Policies>
      <DefaultRolloverStrategy max="2"/>
    </RollingFile>
    <Failover name="Failover" primary="R">
      <Failovers>
        <AppenderRef ref="stderr"/>
      </Failovers>
    </Failover>
  </Appenders>
  <Loggers>
    <Root level="error">
      <AppenderRef ref="R"/>
    </Root>
  </Loggers>
</Configuration>
