<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
  <Appenders>
    <Console name="stdout" target="SYSTEM_OUT">
      <PatternLayout pattern="%d [%-25t] %-5p %-12c %x- %m%n"/>
    </Console>
    <Console name="stderr" target="SYSTEM_ERR">
      <PatternLayout pattern="%5p [%t] (%F:%L) - %m%n"/>
    </Console>
    <RollingFile name="R" filename="test.log" filePattern="test.%i.log"
                 ignoreExceptions="false">
      <PatternLayout pattern="%d [%t] %-5p %c %x - %m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="5000 KB"/>
      </Policies>
      <DefaultRolloverStrategy max="2"/>
    </RollingFile>
    <Failover name="Failover" primary="R">
      <Failovers>
        <AppenderRef ref="stderr"/>
      </Failovers>
    </Failover>
  </Appenders>
  <Loggers>
    <Root level="debug">
      <AppenderRef ref="stdout"/>
      <AppenderRef ref="R"/>
    </Root>
  </Loggers>
</Configuration>

<!--
# https://stackoverflow.com/questions/12532339/no-appenders-could-be-found-for-loggerlog4j
# Mixed with rudimant


# Set root logger level to DEBUG
log4j.rootLogger=DEBUG, stdout, R

# Log format to standard out
log4j.appender.stdout=org.apache.log4j.ConsoleAppender
log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
log4j.appender.stdout.layout.ConversionPattern=%d [%-25t] %-5p %-12c %x- %m%n


# File based log output
log4j.appender.R=org.apache.log4j.RollingFileAppender
log4j.appender.R.File=test.log
log4j.appender.R.MaxFileSize=5000KB

# Keep one backup file
log4j.appender.R.MaxBackupIndex=1
log4j.appender.R.layout=org.apache.log4j.PatternLayout
log4j.appender.R.layout.ConversionPattern=%d [%t] %-5p %c %x - %m%n
-->
