.ruleLogBox .arrow, .ruleLogBox .arrow-button {
  -fx-background-color: transparent;
}

.ruleLogBox {
  -fx-max-width: 10;
  -fx-mark-color: white;
  -fx-max-height: 10;
}

.testButton {
  -fx-base: green;
  -fx-text-fill: white;
}

.table-view {
  -fx-selection-bar: #ffdead;
}

/*.root {
  -fx-font-size: 18px;
}*/

.tree-cell:errorsInImport {
  -fx-background-color: #ff3300;
}

.tree-cell:warningsInImport {
  -fx-background-color: #e6e600;
}

.tree-cell:modifiedFile {
  -fx-background-color: #e0e0d1;
}

.tree-cell:modifiedAndErrorsInImport {
  -fx-background-color: #ffd6cc;
}

.tree-cell:modifiedAndWarningsInImport {
  -fx-background-color: #ffffcc;
}