.ruleLogBox .arrow, .ruleLogBox .arrow-button {
  -fx-background-color: transparent;
}

.ruleLogBox {
  -fx-max-width: 10;
  -fx-mark-color: white;
  -fx-max-height: 10;
}

.testButton {
  -fx-base: green;
  -fx-text-fill: white;
}